:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93,75%; /* 15px */
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

.sr-only {
  /* CSS trick para esconder algo visualmente,
  mas mesmo assim ainda existir para leitores de telas */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden; 
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

header {
  background: #2d4a22;
  padding: 2.5rem 0 11.3rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

#balance {
  margin-top: -7rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

.card {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  color: var(--dark-blue)
}

.card h3 {
  font-weight: normal;
  font-size: 1.1rem;

  margin-bottom: 0.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
}

.card.total {
  background: var(--green);
  color: white;
}

a {
  color: var(--green);
  text-decoration: none; /* para tirar o sublinhado do link */
}

a:hover {
  color: var(--light-green);
  transition: 0.25s;
}

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  margin-top: 0.5rem;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead th {
  background: rgba(0, 0, 0, 0.7);
  font-weight: normal;
  padding: 0.9rem 2rem;
  text-align: left;
  color: #fff;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1.0;
}

table td {
  background: #fff;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

table thead th:first-child,
table tbody td:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
}

table thead th:last-child,
table tbody td:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}

.remove {
  cursor: pointer;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  border-radius: 0.2rem;
  position: relative;
  z-index: 1;
}

#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

#form input {
  border: 0;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

#form input:focus {
  outline-color: var(--dark-blue);
}

#form .input-group {
  margin-top: 0.8rem;
}

#form .help {
  opacity: 0.4;
}

#form .input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 48%;
}

.button.cancel {
  color: #e92929;
  border: #e92929 solid;
  border-radius: 0.2rem;
  width: 48%;
  height: 50px;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: 0.3s;
}

.button.cancel:hover {
  background: #e92929;
  color: #fff;
  opacity: 1;
}

button {
  width: 48%;
  height: 50px;
  border: none;
  color: #fff;
  background: var(--green);
  padding: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

button:hover {
  background: var(--light-green);
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}